.footer {
    padding-top: calc(16px + (32 - 16) * (100vw - 320px) / (1920 - 320));
    padding-bottom: calc(32px + (64 - 32) * (100vw - 320px) / (1920 - 320));

    background-color: #F5DDC9;
}

.footer__box-1 {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .footer__box-1 {
        display: none !important;
    }
}

.footer__box-2 {
    display: flex;
    flex-direction: column;
}

.footer__box-21,
.footer__box-22 {
    column-gap: calc(24px + (32 - 24) * (100vw - 320px) / (1920 - 320));
}

.footer__box-21 {
    margin-bottom: 24px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer__box-211 {
    display: flex;
    flex-direction: column;

    row-gap: 16px;
}

.footer__box-21112 {
    display: flex;

    column-gap: 10px;
}

@media (max-width: 768px) {
    .footer__box-21 {
        grid-template-columns: 1fr;
    }

    .footer__box-211 {
        margin-bottom: 16px;

        display: flex;
        flex-direction: column;

        align-items: center;
    }
}

.footer__box-22 {
    display: flex;

    justify-content: space-between;
}

@media (max-width: 768px) {
    .footer__box-22 {
        flex-direction: column;

        align-items: center;

        row-gap: 16px;
    }
}

.footer__text {
    font-size: 16px;
}

.footer__social-link {
    display: flex;

    align-items: center;

    column-gap: 16px;
}

.footer__social-icon {
    width: 32px;
    height: 32px;
}

.footer__social-icon_big {
    width: 48px;
    height: 48px;
}

@media (max-width: 768px) {
    .footer__text {
        text-align: center;
    }
}

.footer__hr {
    margin-top: 32px;
    margin-bottom: 32px;
}

@media (max-width: 1200px) {
    .footer__hr {
        display: none !important;
    }
}
