.footer {
    padding-top: 32px;
    padding-bottom: 64px;
    /* padding-right: 128px; */
    /* padding-left: 128px; */

    background-color: #edede9;
}

.footer__box-1 {
    max-width: 1600px;
    margin: 0 auto;

    display: flex;

    align-items: center;
    justify-content: space-between;
}

.footer__box-2 {
    max-width: 1600px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.footer__box-21 {
    margin-bottom: 24px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer__box-22 {
    display: flex;

    justify-content: space-between;
}

.footer__text {
    font-size: 24px;
}

.footer__hr {
    margin-top: 32px;
    margin-bottom: 32px;
}
