.header {
    margin-top: 32px;

    width: 100%;

    display: flex;

    align-items: center;
}

.header__box-1 {
    width: 100%;

    display: flex;

    align-items: center;
    justify-content: space-between;

    column-gap: 64px;
}

.header.header_fixed {
    position: fixed;

    top: 0;
    left: 0;

    height: var(--header__height);
}

.header.header_index {
    position: absolute;

    top: 0;
    left: 0;

    height: var(--header__height);
}
