:root {
    --selection__color: #fff;
    --selection__background-color: #000;

    --min-width: 280px;
    --font-family: 'Jost', sans-serif;
    --font-size: 16px;
    --font-weight: 400;
    --text-transform: none;
    --letter-spacing: 0;

    --color: #000;
    --background-color: #fff;

    --h1__font-size: 64px;
    --h2__font-size: 32px;
    --h3__font-size: 24px;

    --header__height: 128px;
    
    --p__font-size: 32px;
}