.donate {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 64px;
}

.donate__box-1 {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.donate__box-for-banks {
    display: none;

    column-gap: 32px;
}

@media (max-width: 1440px) {
    #donate-alpha {
        display: none;
    }

    #donate-sber {
        display: none;
    }

    .donate__box-for-banks {
        display: flex;

        row-gap: 24px;
    }

    .donate {
        margin-bottom: 32px;

        grid-template-columns: 1fr;

        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none; 
    }

    .donate::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 768px) {
    .donate__box-for-banks {
        flex-direction: column;
    }
}

.donate__title {
    margin-bottom: 64px;

    font-size: calc(32px + (80 - 32) * (100vw - 320px) / (1920 - 320));

    letter-spacing: .05em;

    color: #fff;
}

.donate-form {
    display: flex;
    flex-direction: column;
}

.donate-form input {
    margin-bottom: 32px;

    font-size: calc(24px + (32 - 24) * (100vw - 320px) / (1920 - 320));
    
    color: #fff;

    border-bottom: 1px solid #fff;
}

.donate-form label {
    margin-top: 32px;

    font-size: 24px;

    color: #fff;
}

.donate-form__agree-with-terms {
    display: flex;

    align-items: center;

    column-gap: 16px;
}

.donate-form__agree-with-terms .custom-checkbox {
    width: 40px;
    height: 40px;

    display: flex;

    align-items: center;
    justify-content: center;

    background-color: #fff;

    border-radius: 8px;
}

.custom-checkbox__icon {
    width: 32px;
    height: 32px;
}

.donate-form__agree-with-terms-span {
    display: flex;
}

.donate-form__agree-with-terms-span a {
    margin-left: 8px;
}

.donate__text {
    text-align: center;

    color: #fff;
}

.donate-form select {
    font-size: calc(24px + (32 - 24) * (100vw - 320px) / (1920 - 320));
}