.news {
  display: flex;
  flex-direction: column;
}

.news__box-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: calc(16px + (80 - 16) * (100vw - 320px) / (1920 - 320));
}

.news__item-img {
  margin-bottom: calc(16px + (24 - 16) * (100vw - 320px) / (1920 - 320));

  width: 100%;
  height: calc(128px + (256 - 128) * (100vw - 320px) / (1920 - 320));

  border-radius: 16px;
}

.news__item-name {
  padding-right: calc(4px + (8 - 4) * (100vw - 320px) / (1920 - 320));;
  padding-left: calc(4px + (8 - 4) * (100vw - 320px) / (1920 - 320));
}